.skill{
  background: #FFF8F6;
  min-width: 400px;
  max-width: 85vw;
  padding: 30px;
  /* position: fixed; */
  position: relative;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 20px;
}
svg{
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
.top{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.img, .text-base div{
  width: 150px;
  height: 150px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  box-shadow: -2px 2px 3px 1px #00000029;
  float: left;
  margin: 0px 15px 10px 10px;
}
.left{
  width: 30%;
  max-width: 180px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
a{
  cursor: pointer;
}
img{
  width: 100%;
}
p{
  overflow-y: auto;
  max-height: 50vh;
  text-indent: 30px;
  width: 100%;
}
.skill-link{
  border: 1px solid var(--main-text-color);
  text-indent: 0px;
}

@media screen and (max-width: 450px){
  .skill{
    min-width: 0px;
  }
  .img{
    float: none;
    display: block;
  }
  a{
    display: flex;
    justify-content: center;
  }
  p{
    text-align: justify;
  }
}
@media screen and (max-width: 350px){
  .img{
    width: 100px;
    height: 100px;
  }
}
